@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>Click the button below to log in using Azure AD B2C.</p>
    <a href="/Auth/Login" class="btn btn-primary">Login with Azure AD B2C</a>
</div>
